__pycache__/
*.pyc
*.sqlite3
.env
/static/
/media/
/venv/
*.log

# Ignore Firebase credentials
firebase-credentials.json
g-track-firebase-key.json
g-trackapp-firebase-adminsdk-*.json

# IDE and build artifacts
.vscode/
node_modules/

# Temporary data
tmp_unverified.json